body {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #d3d3d3;
}

.circle-svg {
  display: block;
  width: 100%;
  height: 100%;
}

.circle-svg text {
  text-align: center;
  color: black;
  font-size: 7;
}
.circle-svg path.percent {
  /* stroke: #6f6fff; */
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
  stroke: #c4c4c4;
  fill: none;
  stroke-width: 2.8;
}

@media (max-width: 375px) {
  .status-text {
    font-size: 10px;
  }
}
